PORT= 3000

DB_Host=admin
DB_Pass=admin
DB_Name=chattrix

JWT_SECRET='secretText# '
NODE_ENV='development'


SMTP_USER='8e317b001@smtp-brevo.com'
SMTP_PASS=VgPrN91U0XhyRZqF
SMTP_PORT=587
SENDER_EMAIL=guptahenry86@gmail.com